<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Views/DevBlog/devBlog.css">
</head>

<div class="header">
    <h1>DevBlog</h1>
</div>

<div class="blog-grid">
    <div class="blog-post">
        <h3>Création de mon Portfolio</h3>
        <span class="date">Décembre 2024</span>
        <img src="../Images/currivand-dev.png" alt="Three.js Demo">
        <p>Dans cet article, je partage mon expérience sur la création d'un portfolio interactif utilisant Three.js. J'explique comment j'ai intégré des modèles 3D et créé des animations fluides pour une expérience utilisateur plus interactive.</p>
        <div class="tags">
            <span class="tag">Three.js</span>
            <span class="tag">JavaScript</span>
            <span class="tag">3D</span>
        </div>
        <a class="read-more-currivand-dev">Lire la suite →</a>
    </div>

    <div class="blog-post">
        <h3>Introduction aux Réseaux de Neurones Convolutionnels (CNN) pour la Vision</h3>
        <span class="date">Eté 2024</span>
        <img src="../Images/cnn.png" alt="React Best Practices">
        <p>Ils sont à la base de nombreuses applications modernes telles que la reconnaissance d'images, la détection d'objets et même les voitures autonomes. Mais qu'est-ce qu'un CNN, et pourquoi est-il si puissant pour traiter des images ?</p>
        <div class="tags">
            <span class="tag">AI</span>
            <span class="tag">Deep learning</span>
            <span class="tag">CNN</span>
            <span class="tag">Vision artificielle</span>
        </div>
        <a href="#" class="read-more-cnn">Lire la suite →</a>
    </div>
</div>

<div class="footer">
    <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
        LinkedIn
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
        GitHub
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
</div>
</html>