<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../Views/About/about.css">
</head>

<div class="header">
    <h1>Créer d'un Portfolio: Mon Expérience</h1>
</div>

<div class="about-container">
    <div class="section">
        <div class="description">
            <p>Depuis quelques mois, j'avais pour objectif de créer un portfolio qui reflète à la fois mes compétences techniques et mes capacités de designs. C'est ainsi que j'ai décidé d'utiliser Three.js, une bibliothèque JavaScript puissante permettant de manipuler des scènes 3D directement dans un navigateur.</p>
        </div>

        <h2 class="projet">Intégration des Modèles 3D</h2>
        <div class="description">
            <p>L'un des premiers défis était l'intégration de modèles 3D. J'ai utilisé un modèle 3D open source auquel j'ai ajouté des détails correspondant à mon profil. Avec Three.js, ces modèles ont été chargés via le GLTFLoader. J'ai ensuité géré l'intégralité des lumières/animations ansi que l'interaction avec la scène.</p>
        </div>
        <div class="image-container">
            <img src="../../../Images/currivand-dev.png" alt="Ancien design" class="section-img">
        </div>

        <h2 class="projet">Ancien design</h2>
        <div class="description">
            <p>En premier choix j'ai opté pour un site avec scroll vertical pour une utilisation facilité sur mobile. Le choix des couleurs était aussi une erreur. Avec quelques retours de mes proches j'ai décidé de revoir complétement le design de mon site.</p>
            <div class="image-container">
                <img src="../../../Images/ancien.png" alt="Ancien design" class="section-img">
            </div>
        </div>

        <h2 class="projet">Un Changement de Design</h2>
        <div class="description">
            <p>Malgré tout, après avoir reçu des retours d'utilisateurs et analysé les données de navigation, j'ai réalisé que le design initial, bien que spectaculaire, pouvait être intimidant pour certains visiteurs. J'ai donc récemment effectué une refonte complète de l'interface.</p>  
            <div class="image-container">
                <img src="../../../Images/nouveau.png" alt="Nouveau design" class="section-img">
            </div>
            <p>Pour donner vie à mon portfolio, j'ai choisi de le rendre interactif. L'utilisateur à la possibilité de naviguer entre différents pages s'il souhaite en savoir plus sur moi. Cela permet aux potentiels clients d'avoir une premières appréciations de mes compétences. J'ai conçu les animations du site pour avoir un design plus vivant tout ent restant professionel.</p>
            <p>Cette nouvelle version conserve les éléments interactifs, mais adopte une structure plus minimaliste. Les animations sont plus discrètes et l'accent est mis sur l'accessibilité. Ce changement vise à rendre le site plus intuitif tout en conservant ma personnalité.</p>
            
        </div>
    </div>
</div>

<div class="footer">
    <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
        LinkedIn
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
        GitHub
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
</div>

</html>
