<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guillaume-Currivand-Portfolio</title>
    <link rel="stylesheet" href="../Views/projects.css">
  </head>

  <div class="header">
    <h1>Mes projets</h1>
    <a href="https://currivand-dev.com">Commandez le votre ></a>
  </div>
  
  <div class="footer">
    <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
      LinkedIn
      <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
      GitHub
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
  </div>

</html>
