.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.stat {
    background: #232428;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 13% 5%;
    max-height: 600px;
    position: relative;
}

.stat a {
    font-size: 1.3rem;
    transition: all 0.3s ease;
    display: inline-block;  /* Add this */
}

.stat p {
    color: rgba(255, 255, 255, 0.2);
    text-align: left;
    line-height: 1.8rem;
}

.stat h2 {
    text-align: center;
    font-size: 2.5rem;
}

.stat ul li{
    text-decoration: none;
    cursor: pointer;
    color: rgb(217, 217, 217);
    list-style-type: none;
    transition: transform 0.3s ease, padding-left 0.3s ease;
    padding-left: 0;
}

.stat ul li:hover {
    transform: scale(1.05);
    padding-left: 10px;
    color: rgb(85, 127, 185);
}

.customStat {
    text-align: center;
}

.customStat img {
    max-width: 80%;
    max-height: 40%;
    margin-top: 20px;
}

.tech {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.tech img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.tech img:hover {
    transform: scale(1.2);
}

.stat.customStat p a {
    color: rgb(85, 127, 185);
    text-decoration: none;
    font-size: 2.5rem;
    transition: color 0.3s ease;
    overflow: hidden;
}