<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guillaume-Currivand-Portfolio</title>
    <link rel="stylesheet" href="../Views/Home/home.css">
  </head>

<div class="header">
  <h1>Ingénieur informatique <br>indépendant</h1>
  <a class="services-link">Demande de devis ></a>
</div>
<div class="stats-grid principal">
  <div class="stats-grid">
    <div class="stat customStat">
      <h2>Projets</h2>
      <a class="projects-link">Voir la liste ></a><br>
    </div>
    <div class="stat">
      <h2>Services</h2>
      <ul>
        <li>Site internet</li>
        <li>Logiciel de gestion</li>
        <li>Portage salariale</li>
      </ul>
    </div>
    <div class="stat">
      <h2>Diplômes</h2>
      <p>Ingénieur informatique</p>
      <p>DUT informatique</p>
    </div>
    <div class="stat">
      <h2>Stack technique</h2>
      <div class="tech">
        <img src="https://cdn-icons-png.flaticon.com/512/6132/6132221.png" alt="C#">
        <img src="Images/net.png" alt=".NET">
        <img src="https://cdn-icons-png.flaticon.com/512/919/919851.png" alt="React">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Python">
      </div>
    </div>
  </div>
  <div class="stat">
    <h2>Travaillons ensemble !</h2>
    <p>Je suis capable de développer du full stack mais j'ai quand même une préférence pour le front-end. À terme, mon
      objectif est de proposer un logiciel de gestion des stocks et des commandes.
      Pour le moment, je souhaite mettre à disposition mes compétences et continuer à les perfectionner.
      Si vous voulez en savoir plus, je vous invite à poursuivre votre navigation.</p>
    <a class="contact-link">Me contacter ></a>
  </div>
  <div class="stat customStat">
    <h2>Devblog</h2>
    <a class="devblog-link">Le découvrir ></a>
    <p>J'ai lancé ce devblog pour partager les avancements de mes projets en cours. Pour être au plus proche de mes
      clients.</p>
  </div>
  <div class="stat customStat">
    <h2>Un peu plus sur moi ?</h2>
    <p>J'adore le sport, et c'est une vraie passion pour moi. Le ski, le volley, le VTT et le tennis font partie de mes
      activités préférées.
      Pour moi, le sport est une manière de me dépasser tout en profitant de la nature et en partageant de bons moments
      avec <a class="about-link">...</a></p>
  </div>
</div>
<div class="footer">
  <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
    LinkedIn
    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
  </a>
  <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
    GitHub
    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
  </a>
</div>

</html>