<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Views/About/about.css">
</head>

<div class="header">
    <h1>À propos de moi</h1>
</div>

<div class="about-container ">
    <div class="section">
        <h2 class="projet">Sports</h2>
        <div class="description">
            J'adore le sport, et c'est une vraie passion pour moi. Le ski, le volley, le VTT et le tennis font partie de mes activités préférées.<br> 
            Pour moi, le sport est une manière de me dépasser tout en profitant de la nature et en partageant de bons moments avec les autres.<br>
            Il y a cependant quelques petits détails que je souhaite souligner.<br>
            Ce que j'aime le plus dans le VTT, c'est la construction de chemins. Je trouve cela très gratifiant de voir de nombreuses personnes les emprunter une fois terminés.<br>
            Pour le ski, j'aime plus particulièrement le freeride. J'adore repousser mes limites en descendant des pentes de plus en plus techniques, toujours dans la limite de mes capacités, bien évidemment ;).
        </div>
        <img src="./Images/ski.jpg" alt="Ski" class="section-img">
    </div>

    <div class="section">
        <h2 class="projet">Randonnées</h2>
        <div class="description">
            Je pars régulièrement en randonnée pour "prendre l'air". J'aime la tranquillité de la montagne en petit comité, loin du bruit et des foules.<br>
            Le sentier est un espace de liberté, et chaque pas rapproche un peu plus de l'objectif : le paysage, le souffle, le moment présent.
        </div>
        <img src="./Images/pays1.jpg" alt="Paysage" class="section-img">
    </div>
</div>

<div class="footer">
    <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
        LinkedIn
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
        GitHub
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
</div>

</html>