<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Views/About/about.css">
</head>

<div class="header">
    <h1>Beegest</h1>
</div>

<div class="about-container">
    <div class="section">
        <h2 class="projet">Présentation</h2>
        <div class="description">
            Travail sur un système de planication des ressources d'entreprise (ERP). J'aiprocédé à sa migration vers une version entièrement web. J'ai participé audéveloppement back-end et front-end sur ce projet
            Le progiciel que propose l’entreprise permet aux Très Petites Entreprises (TPE) et aux Petites et Moyennes Entreprises (PME) des solutions simples et adaptées aux contraintes qu’elles peuvent rencontrer. 
            La clientèle est majoritairement issue du monde industriel, elle utilise le logiciel pour la gestion de la production mais aussi pour celle de la sous-traitance.
        </div>
    </div>
    <div class="section">
        <h2 class="projet">1ère année</h2>
        <div class="description">
            Développement supervisé par mon tuteur, migration de la logique métier de Delphi vers la nouvelle technologie.<br>
            Optimisation des requêtes SQL et travail sur la base de données.<br>
            Développement front-end de vues pour le logiciel.
        </div>
        <img src="../../Images/beegest.png" alt="Beegest" class="section-img">
    </div>

    <div class="section">
        <h2 class="projet">2ème année</h2>
        <div class="description">
            Développement semi-supervisé par mon tuteur, intégration d'un agenda dans la version full web. Adaptation à la charte graphique et ajout de fonctionnalités.
        </div>
        <img src="../../Images/agenda.png" alt="Agenda" class="section-img">
    </div>

    <div class="section">
        <h2 class="projet">3ème année</h2>
        <div class="description">
            Développement entièrement autonome, conception, développement et intégration d'un nouveau système de licences sous forme de microservice.<br>
            Utilisation de l'ORM Entity et création d'un service de licences dans notre version web. Mise en place d'un serveur accessible uniquement par l'entreprise pour la gestion des licences clients.
        </div>
        <img src="../../Images/conception.png" alt="Conception" class="section-img">
    </div>
</div>

<div class="footer">
    <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
        LinkedIn
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
        GitHub
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
</div>

</html>
