<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../Views/Projects/projects.css">
  </head>

  <div class="header">
    <h1>Mes projets</h1>
    <a class="services-link">Commandez le votre ></a>
  </div>
  <div class="stats-grid principal">
    <div class="stat">
      <h3>Beegest</h3>
      <div class="tech">
        <img src="https://cdn-icons-png.flaticon.com/512/6132/6132221.png" alt="C#" title="C#">
        <img src="Images/net.png" alt=".NET" title=".NET">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png" alt="CSS" title="HTML/CSS">
        <img src="Images/delphi.png" alt="Delphi" title="Delphi">
      </div>
      <img src="../Images/beegest.png" alt="Project 1">
      <p>Migration d'un système de planification des ressources de la technologie Delphi vers une version full web en C#</p>
      <button class="beegest-button details-button">Voir les détails</button>
    </div>
    <div class="stat">
      <h3>Atelier</h3>
      <div class="tech">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968322.png" alt="Node.js" title="Node.js">
        <img src="https://cdn-icons-png.flaticon.com/512/1199/1199124.png" alt="MySQL" title="MySQL">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="JavaScript" title="JavaScript">
      </div>
      <img src="../Images/articles.png" alt="Project 2">
      <p>Application permettant la gestion d'un atelier de réparation de matériel de sport</p>
    </div>
    <div class="stat">
      <h3>Currivand-dev</h3>
      <div class="tech">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="JavaScript" title="JavaScript">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png" alt="CSS" title="HTML/CSS">
      </div>
      <img src="../Images/currivand-dev.png" alt="Project 3">
      <p>Je voulais un portfolio original. J'ai donc choisi l'implémentation d'éléments graphiques 3D comme page d'accueil</p>
    </div>
    <div class="stat">
      <h3>nnBench</h3>
      <div class="tech">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Python" title="Python">
        <img src="Images/pytorch.svg" alt="PyTorch" title="PyTorch">
      </div>
      <img src="../Images/nnBench.png" alt="Project 4">
      <p>Projet visant à tester l'état de l'art des différents réseaux de neurones convolutionnels pour la vision artificielle</p>
    </div>
  </div>
  
  <div class="footer">
    <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
      LinkedIn
      <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
      GitHub
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
  </div>

</html>
