<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Views/Services/services.css">
</head>

<div class="header">
    <h1>Mes services</h1>
</div>

<div class="stats-grid">
    <div class="stat">
        <h3>Site Web Vitrine</h3>
        <img src="../Images/vitrine.jpg" alt="Site Vitrine">
        <div class="price">À partir de 1500€</div>
        <ul class="features">
            <li>Design personnalisé</li>
            <li>Responsive design</li>
            <li>Hébergement</li>
            <li>Optimisation SEO</li>
        </ul>
        <a class="contact-button" data-service="site-web">Me contacter</a>
    </div>

    <div class="stat">
        <h3>Application Web</h3>
        <img src="../Images/webapp.avif" alt="Application Web">
        <div class="price">À partir de 3000€</div>
        <ul class="features">
            <li>Backend robuste</li>
            <li>Base de données</li>
            <li>Interface utilisateur</li>
            <li>Maintenance</li>
        </ul>
        <a class="contact-button" data-service="application-web">Me contacter</a>
    </div>

    <div class="stat">
        <h3>Consulting Informatique</h3>
        <img src="../Images/consultant.jpg" alt="Consulting">
        <div class="price">280€/jour</div>
        <ul class="features">
            <li>Analyse des besoins</li>
            <li>Solutions techniques</li>
            <li>Facilité d'intégration</li>
            <li>Adaptabilité technologique</li>
        </ul>
        <a class="contact-button" data-service="consulting">Me contacter</a>
    </div>

    <div class="stat">
        <h3>Autre</h3>
        <img src="../Images/interro.jpg" alt="Maintenance">
        <div class="price">Tarif personnalisé</div>
        <ul class="features">
            <li>En fonction de vos besoins</li>
            <li>Sécurité renforcée</li>
            <li>Support technique</li>
            <li>Sauvegardes</li>
        </ul>
        <a class="contact-button" data-service="autre">Me contacter</a>
    </div>
</div>

<div class="footer">
    <a href="https://www.linkedin.com/in/guillaume-currivand-206397199" target="_blank" title="LinkedIn">
        LinkedIn
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="https://github.com/gcurrivand" target="_blank" title="GitHub">
        GitHub
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
</div>

</html>